# Mengatur review otomatis untuk folder frontend
/frontend/       @jelita009 @jelita26 @ripo-let-cooks @mhaikaal0811-prog @Azharasepole223 @muda05-dev

# Mengatur review otomatis untuk folder tools/backend
/tools/          @jelita009 @ripo-let-cooks

# Dokumentasi dan workflow GitHub Actions
/.github/        @jelita009 @ripo-let-cooks @mhaikaal0811-prog
/docs/           @jelita009 @ripo-let-cooks @mhaikaal0811-prog
